{% extends 'base.html' %}

{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
  }

  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    margin-top: 20px;
  }

  .form-label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .form-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }
</style>

<div class="container">
  <h1>Регистрация</h1>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
      <div class="form-group">
        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
        {{ f }}
        <div class="form-error">{{ f.errors }}</div>
      </div>
    {% endfor %}
    <button type="submit">Регистрация</button>
  </form>
</div>
{% endblock %}
