{% extends 'base.html' %}

{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff;
        color: #333;
        margin: 0;
        padding: 0;
    }

    .profile-container {
        width: 50%;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .profile-container h1 {
        text-align: center;
        font-size: 2em;
        color: #0066cc;
    }

    .profile-photo {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 4px solid #0066cc;
    }

    .profile-info {
        margin-top: 20px;
    }

    .profile-info p {
        font-size: 1.2em;
        margin: 10px 0;
        color: #555;
    }
</style>
{% endblock %}

{% block content %}
<div class="profile-container">
    <h1>{{ user.username }}</h1>
    <img class="profile-photo" src="{{ user.photo.url }}" alt="Profile Photo">
    <div class="profile-info">
        <p><strong>Дата рождения:</strong> {{ user.date_birth|default:"не заполнено" }}</p>
        <p><strong>Email:</strong> {{ user.email|default:"не заполнено" }}</p>
        <p><strong>Имя:</strong> {{ user.first_name|default:"не заполнено" }}</p>
        <p><strong>Фамилия:</strong> {{ user.last_name|default:"не заполнено" }}</p>
    </div>
</div>
{% endblock %}
